@main("Spiele der WM") {

    <h1>Wer spielt noch gegen wen?</h1>

    <h3>Ausstehende Spiele</h3>
Klicke auf die Spiele um die Tipps zu sehen.
<br><br>
<h2 style="text-align:left;font:bold 12px verdana, sans-serif">Letztes Update der Daten: @models.Match.lastUpdate</h2>

    <table>
        <tr>
            <th>Team A</th>
            <th>Ergebnis</th>
            <th>Team B</th>
            <th>Runde</th>
            <th>Datum</th>
            <th>Ort</th>
        </tr>
        <tr>
            @models.Match.all.filter(! _.isFinished).map { m =>
        <tr>
            <td><a href="/begegnungen/@{m.onlineId}" style="text-decoration:none;"><div align="right">@m.teamA <img src="@{Team.getTeam(m.teamA).iconUrl}"></div></a></td>
            <td><a href="/begegnungen/@{m.onlineId}" style="text-decoration:none;"><div align="center">@m.resultString</div></a></td>
            <td><a href="/begegnungen/@{m.onlineId}" style=";text-decoration:none;"><img src="@{Team.getTeam(m.teamB).iconUrl}"> @m.teamB</a></td>
            <td><a href="/begegnungen/@{m.onlineId}" style=";text-decoration:none;">@m.roundString</a></td>
            <td><a href="/begegnungen/@{m.onlineId}" style=";text-decoration:none;">@m.dateString</a></td>
            <td><a href="/begegnungen/@{m.onlineId}" style=";text-decoration:none;">@m.location</a></td>
        </tr>
        }
    </table>
}
