@(players: List[(Player,Int)])

@main("Punkte") {
<h1>Wer führt?</h1>
<h3>Punktestand - Übersicht </h3>
Klicke auf die Namen, um Details zu den Spielern zu sehen.
<h2 style="text-align:left;font:bold 12px verdana, sans-serif">Letztes Update der Daten: @models.Player.lastUpdate</h2>

<table>
    <tr>
        <th>Platz</th>
        <th>Name</th>
        <th>Punkte</th>
    </tr>

    @players.map {case (player, pos) =>
        <tr>
            <td><a href="/spieler/@{player.id}" style=";text-decoration:none;">@{pos}</a></td>
            <td><a href="/spieler/@{player.id}" style=";text-decoration:none;">@player.nameString</a></td>
            <td><a href="/spieler/@{player.id}" style=";text-decoration:none;">@player.points</a>   </td>
        </tr>

    }
</table><br><br>

<hr>

<!--<h3>Neu hier? Trag dich ein:</h3>-->
<!--<a href="https://docs.google.com/forms/d/1es-i1gmxV3mmPajMNDHVLPx30KJkpBAhsoNj1FzWa_s/viewform?usp=send_form" target="_blank">Anmeldeformular</a>-->
}