@(players: List[(Player,Int)])

@main("Punkte") {
<h3>Punktestand - Übersicht </h3>
<h2 style="text-align:left;font:bold 12px verdana, sans-serif">Letztes Update der Daten: @Player.lastUpdate</h2>

<table>
    <tr>
        <th>Platz</th>
        <th>Name</th>
        <th>Punkte</th>
    </tr>

    @players.map {case (player, pos) =>
        <tr>
            <td>@{pos}</td>
            <td><a href="#" style=";text-decoration:none;">@player.nameString</a></td>
            <td>@player.points</td>
        </tr>

    }
</table><br><br>

<hr>

<h3>Neu hier? Trag dich ein:</h3>
<a href="https://docs.google.com/forms/d/1es-i1gmxV3mmPajMNDHVLPx30KJkpBAhsoNj1FzWa_s/viewform?usp=send_form" target="_blank">Anmeldeformular</a>
}