@(players: List[Player])

@main("Teilnehmer") {
    <h1>Wer macht mit?</h1>
    <h3>Bisher sind @players.size Spieler dabei: </h3>
        Klicke auf die Namen, um Details zu den Spielern zu sehen.
    <h2 style="text-align:left;font:bold 12px verdana, sans-serif">Letztes Update der Daten: @Player.lastUpdate</h2>
    <table>
        <tr>
            <th>Vorname</th>
            <th>Spitzname</th>
            <th>Nachname</th>
        </tr>
        @players.sortBy(_.firstName.toLowerCase).map { player=>
        <tr>
            <td><a href="/spieler/@{player.id}" style=";text-decoration:none;">@player.firstName</a></td>
            <td><a href="/spieler/@{player.id}" style=";text-decoration:none;">@player.nicky</a></td>
            <td><a href="/spieler/@{player.id}" style=";text-decoration:none;">@player.lastName</a></td>
        </tr>
        }
    </table><br><br>

    <hr>

    <h3>Neu hier? Trag dich ein:</h3>
    <a href="https://docs.google.com/forms/d/1es-i1gmxV3mmPajMNDHVLPx30KJkpBAhsoNj1FzWa_s/viewform?usp=send_form" target="_blank">Anmeldeformular</a>
}