@(players: List[Player])

@main("Teilnehmer") {
    <h3>Bisher sind @players.size Spieler dabei: </h3>
    <h2 style="text-align:left;font:bold 12px verdana, sans-serif">Letztes Update der Daten: @Player.lastUpdate</h2>
    <table>
        <tr>
            <th>Vorname</th>
            <th>Spitzname</th>
            <th>Nachname</th>
        </tr>
        @players.sortBy(_.firstName.toLowerCase).map { player=>
        <tr>
            <td>@player.firstName</td>
            <td>@player.nicky</td>
            <td>@player.lastName</td>
        </tr>
        }
    </table><br><br>

    <hr>

    <h3>Neu hier? Trag dich ein:</h3>
    <a href="https://docs.google.com/forms/d/1es-i1gmxV3mmPajMNDHVLPx30KJkpBAhsoNj1FzWa_s/viewform?usp=send_form" target="_blank">Anmeldeformular</a>
}